/* Layout
=============== */


/* Core */

// HTML base
html {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font: $font-style $font-variant $font-weight #{$font-size}/#{$line-height} $font-family;
    font-size: $font-size;
}

// Body base 
body {
    color: $font-color;
    font-size: $body-size;
    overflow-x: hidden;
    margin: 0;
}

// content base
main {
    padding:0 16px;
    min-height: 100%;
}

// Links
a {
    color: $link-color;
    text-decoration: none;
    &:hover,
    &:focus,
    &:active {
        text-decoration: underline;
    }
}

ul {
    list-style: none;
}

// Images always responsive
img {
    max-width: 100%;
    height: auto;
}

// Headings
h1,
h2,
h3,
h4,
h5 {
    font-family: $heading-family;
    line-height: 1.2;
    font-weight: 300;
    color: $heading-color;
    a {
        color: $heading-color;
        &:hover,
        &:focus,
        &:active {
            text-decoration: underline;
        }
    }

}

h2,
h3,
h4,
h5 {
    margin-bottom: 0rem;
}

h1:not(:first-child) {
    margin-top: 3rem;
}

h1 {
    font-size: $font-h1-size;
    margin-bottom: 1rem;
}

h2 {
    font-size: $font-h2-size;
}

h3 {
    font-size: $font-h3-size;
}

h4 {
    font-size: $font-h4-size;
    padding-bottom: .5rem;
    border-bottom: 1px solid $border;
}

h5 {
    font-size: $font-h5-size;
    margin: 0;
    margin-bottom: 1rem;//.25rem;
    color: $font-color;
    p {
        margin: 0;
    }
}
$font-h1-size: 2rem;
$font-h2-size: 1.75rem;
$font-h3-size: 1.5rem;
$font-h4-size: 1.2rem;
$font-h5-size: 1rem;

$font-mob-factor: 1.05;
$font-tab-factor: 1.15;
$font-pc-factor: 1.25;
@include small-breakpoint {
    h1 {
        font-size: $font-h1-size * $font-mob-factor;
    }
    h2 {
        font-size: $font-h2-size * $font-mob-factor;
    }
    h3 {
        font-size: $font-h3-size * $font-mob-factor;
    }
    h4 {
        font-size: $font-h4-size * $font-mob-factor;
    }
    h5 {
        font-size: $font-h5-size * $font-mob-factor;
    }
}

@include medium-breakpoint {
    h1 {
        font-size: $font-h1-size * $font-tab-factor;
    }
    h2 {
        font-size: $font-h2-size * $font-tab-factor;
    }
    h3 {
        font-size: $font-h3-size * $font-tab-factor;
    }
    h4 {
        font-size: $font-h4-size * $font-tab-factor;
    }
    h5 {
        font-size: $font-h5-size * $font-tab-factor;
    }
}

@include large-breakpoint {
    h1 {
        font-size: $font-h1-size * $font-pc-factor;
    }
    h2 {
        font-size: $font-h2-size * $font-pc-factor;
    }
    h3 {
        font-size: $font-h3-size * $font-pc-factor;
    }
    h4 {
        font-size: $font-h4-size * $font-pc-factor;
    }
    h5 {
        font-size: $font-h5-size * $font-pc-factor;
    }
}

/* Containers */

.small-container,
.large-container,
.container {
    margin-left: auto;
    margin-right: auto;
    padding: 0 1rem;
    p {
        margin-bottom: 0.5rem;
    }
    time {
        font-size: $time-size;
        font-style: $time-style;
    }
}

.small-container {
    max-width: $mobile;
}

.container {
    max-width: $tablet;
    ul {
        padding: 0 0;
    }
}

.large-container {
    max-width: $desktop;
}

/* Main page*/
.main-container{
    margin-top: $main-margin-top;
    min-height:100%;
}


/* Navigation */
.navigation {
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    //background: $background;
    z-index: 1000;
    justify-content: space-between;
    min-height: $nav-height;
    transition: transform .3s ease;
    ul {
        float:none;
        list-style: none;
        padding: 0;
        margin: 10px 0px;
        overflow:hidden;
    }
    li {
        display: block;
        padding: 2px 0px;
        line-height: $nav-height-mobile;
        float: none;
    }
    .current-menu-item a {
        color: $heading-color;
        font-weight: 450;
        //text-decoration: underline;
    }
    a { 
        display: block;
        font-size: .9rem;
        font-family: $nav-family;
        font-weight: 400;
        color: $font-color;
        text-decoration: none;
        text-align: left;
        padding: 0 .75rem;
        &:hover,
        &:active,
        &:focus {
            color: $heading-color;
            //text-decoration: underline;
        }
    }
}


@include nav-breakpoint {
    .navigation {
        height: $nav-height;
        ul {
            list-style: none;
            padding: 0;
            margin: 0px 20px;
        }
        li {
            float: left;
            display: inline-block;
            padding: 0;
            line-height: $nav-height;
        }

    }
}


/* Front */
.page-header, 
.single-header {
    text-align: center;
}


/* Helpers */

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

.text-left {
    text-align: left;
}