
/* Variables
  =============== */

/* Mobile Breakpoints */

$mobile: 600px;
$tablet: 800px;
$nav-breakpoint: 600px;
$resume-breakpoint:700px;
$desktop: 1200px;

/* Page styling */
$background: #FFFFFF;
$transition: all .2s ease;

/* Content Font Styling */ 

$font-style: normal;
$font-variant: normal;
$font-weight: normal;
$font-size: 1rem;
$body-size: 1.05rem;
$line-height: 1.6;
$link-weight: bold;

$font-family: 'Roboto', 'Lucida Sans Unicode', 'Lucida Grande', Arial, Helvetica, sans-serif;
$heading-family: $font-family;
$nav-family: $font-family;
$button-family: $font-family;

$font-color: #444;
$link-color: #444;
$alt-color: #FC1052;
$heading-color: #017ec1;//0169A0;//#121212;
$heading-sub-color: #25b2fe;
$light-color: lighten($font-color, 30%);

// Font headers + scale
$font-h1-size: 2rem;
$font-h2-size: 1.75rem;
$font-h3-size: 1.5rem;
$font-h4-size: 1.2rem;
$font-h5-size: 1rem;

// Responsive font scale
$font-mob-factor: 1.05;
$font-tab-factor: 1.15;
$font-pc-factor: 1.25;

// Time font
$time-size: 0.7rem;
$time-style: italic;
$time-line-height: 1;


/* Borders */

$border: #e2e2e2;

/* Navigation */

$nav-height: 60px;
$nav-height-mobile: 20px;
$main-margin-top: $nav-height * 2;

/* Variables */

$string: #A8D3A9;
$variable: #F78D8C;
$property: #D5D5D5;
$number: #FCA369;
$operator: #cda869;
$punctuation: #D5D5D5;
$comment: #A9A9A9;
$function: #76D4D6;
$keyword: #ffeead;
$attribute: #FFD479;
$class: #D6ACD6;
$tag: #78AAD6;
$selector: #F7931E;
$deleted: #F6BF26;
$error: #EB4D5C;
